<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="LoginTest on Firefox" verbose="1" >

    <parameter name = "browser" value="Firefox" />
    <parameter name="emailAdress" value="mustafaksu4@gmail.com" />
    <parameter name = "password" value="mustafa112" />

<!--    <test name="Successfull login with mail and purchasing an item" >-->
<!--        <classes>-->
<!--            <class name="testcases.LoginTest">-->
<!--                <methods>-->
<!--                    <include name="successful_login" />-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

<!--&lt;!&ndash;    <test name="Fail login with wrong mail Address" >&ndash;&gt;-->
<!--&lt;!&ndash;        <classes>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="testcases.LoginTest">&ndash;&gt;-->
<!--&lt;!&ndash;                <methods>&ndash;&gt;-->
<!--&lt;!&ndash;                    <parameter name = "emailAdress" value = "mustafaksu3@gmail.com" />&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="fail_login" />&ndash;&gt;-->
<!--&lt;!&ndash;                </methods>&ndash;&gt;-->
<!--&lt;!&ndash;            </class>&ndash;&gt;-->
<!--&lt;!&ndash;        </classes>&ndash;&gt;-->
<!--&lt;!&ndash;    </test>&ndash;&gt;-->

<!--&lt;!&ndash;    <test name="Fail login with wrong password" >&ndash;&gt;-->
<!--&lt;!&ndash;        <classes>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="testcases.LoginTest">&ndash;&gt;-->
<!--&lt;!&ndash;                <methods>&ndash;&gt;-->
<!--&lt;!&ndash;                    <parameter name = "password" value="1234" />&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="fail_login" />&ndash;&gt;-->
<!--&lt;!&ndash;                </methods>&ndash;&gt;-->
<!--&lt;!&ndash;            </class>&ndash;&gt;-->
<!--&lt;!&ndash;        </classes>&ndash;&gt;-->
<!--&lt;!&ndash;    </test>&ndash;&gt;-->

    <test name="Product name test" >
        <classes>
            <class name="testcases.LoginTest">
                <methods>
                    <include name="productNameTest" />
                </methods>
            </class>
        </classes>
    </test>


</suite>


